<section data-ng-controller="JobtemplatesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="jobtemplate.name"></h1>
	</div>
	<div class="pull-right">
		<a class="btn btn" href="/#!/jobtemplates/{{jobtemplate._id}}/edit">
			<i class="glyphicon glyphicon-edit">Edit</i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
  <div>
    <p><b>Data Type: </b>{{jobtemplate.model}}</p>
    <b>CSS</b> <pre data-ng-bind="jobtemplate.template.css"></pre>
    <b>JS</b><pre data-ng-bind="jobtemplate.template.js"></pre>
    <b>CML</b><pre data-ng-bind="jobtemplate.template.cml"></pre>
    Fields
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="field in jobtemplate.fields">{{field}}</li>
    </ul>
  </div>
</section>