<section ng-controller="TweetsController" ng-init="findOne()">
	<div class="page-header">
		<h1 ng-bind="tweet.user.name"></h1>
	</div>
	<div class="pull-right" ng-show="authentication.user._id == tweet.user._id">
		<a class="btn btn-primary" href="/#!/tweets/{{tweet._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
  <blockquote class="twitter-tweet">
    <p>{{tweet.text}}</p>
    <a target="_blank" href="https://twitter.com/{{tweet.user.screen_name}}/statuses/{{tweet.id}}">(@{{tweet.user.name}})</a>
  </blockquote>
  <script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"> </script>
	<small>
		<em class="text-muted">
			Posted on
			<span ng-bind="tweet.created | date:'mediumDate'"></span>
			by
		</em>
	</small>
</section>